
.highcharts-data-table table {
    border: 1px solid rgb(232, 237, 242);
    text-align: left;
    min-width: 100%;
    border-collapse: collapse;
    vertical-align: top;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 6px;
    height: 32px;
    border-bottom: 1px solid rgb(232, 237, 242);
}

.highcharts-data-table thead tr {
    background: transparent;
}

.highcharts-data-table tr:nth-child(even) {
    background: rgb(251, 252, 253);
}

.highcharts-data-table tr {
    cursor: pointer;
}

.highcharts-data-table tr:hover {
    background: rgb(251, 252, 253);
}

.highcharts-data-table caption {
    border-bottom: none;
    font-size: 1.1em;
    font-weight: bold;
}

.highcharts-sort-ascending::after {
    content: " ↓";
}

.highcharts-sort-descending::after {
    content: " ↑";
}
